### Исследование логических функций

In [1]:
#1.
def f(x, A):
    return ((x%A == 0) and (x%24 == 0) and (not (x% 16 == 0))) <= (not (x%A == 0))

for A in range(1, 10000):
    if (all(f(x, A) == 1 for x in range(1, 10000))):
        print(A)
        break #minimum!

16

In [2]:
#2.
def f(x, A):
    return ((not (x%84 == 0)) or (not (x%90 == 0))) <= (not(x%A == 0))

for A in range(1, 10000):
    if (all(f(x, A) == 1 for x in range(1, 10000))):
        print(A)
        break #minimum!

1260

In [3]:
#3.
def f(x, A):
    return ((x%15 == 0) and (not (x%21 == 0))) <= ((not (x%A == 0)) or (not(x%15 == 0)))

for A in range(1, 10000):
    if (all(f(x, A) for x in range(1, 10000))):
        print(A)
        break #minimum!

7

In [5]:
#4.
def f(x, A):
    return ((x%4 != 3) or (x%6 != 1)) <= (x%36 != A)

for A in range(1, 10000):
    if (all(f(x, A) for x in range(1, 10000))):
        print(A)
        break #minimum!

7

In [8]:
#5.
def f(x, A):
    return (A%7 == 0) and (240 % x == 0) <= ((not(A%x == 0)) <= (not (780%x == 0)))

for A in range(1,10000):
    if (all(f(x, A) == 1 for x in range(1, 10000))):
        print(A)
        break #minimum!

420

In [11]:
#6.
def f(x, A):
    return ((x&26!=0) or (x&13 != 0)) <= ((x&29==0) <= (x&A != 0))

for A in range(1, 100000):
    if (all(f(x, A) for x in range(1,100000))):
        print(A)
        break #minimum!

2

In [13]:
#7.
def f(x, A):
    return (((x&13!=0)or(x&A!=0)) <= (x&13!=0)) or ((x&A!=0)and(x&39==0))
for A in range(1, 100):
    if (all(f(x, A) for x in range(1,100))):
        print(A)
# maximum! - not break!
# answer = 13

1
4
5
8
9
12
13

In [14]:
#8.
def f(x, A):
    return(x&107==0) <= ((x&55!=0) <= (x&A!=0))
for A in range(1,10000):
    if (all(f(x, A) for x in range(1,10000))):
        print(A)
        break #minimum!

20

In [23]:
#9.
# P принадлежит [11000000;11111111]
# P принадлежит [192;511]
p = set(range(192,512))
# Q принадлежит [00000000;11111110]
# step=2
q = set(range(0, 512, 2)) 
a = set()
def f(x):
    return (not(x in a)) <= ((x in p) or (not(x in q)))
for x in range(0, 512):
    if not f(x):
        a.add(x)
print(a)
print(len(a))

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190}
96

In [32]:
#10.
def f(x, y, A):
    return ((x*y) > A) and (x > y) and (x < 8)
for A in range(1,100):
    if (all(f(x, y, A) == 0 for x in range(1,100) for y in range(1,100))):
        print(A)
        break #minimum!

42

In [37]:
#11.
def f(x, y, A):
    return (x>39) or (y > 26) or ((2*x) + (4*y) < A)
for A in range(1, 1000):
    if (all(f(x, y, A)==1 for x in range(1,1000) for y in range(1, 1000))):
        print(A)
        break #minimum!

183

In [38]:
#12.
def f(x, y, A):
    return ((2*x) + y != 70) or (x<y) or (A<x)
for A in range(1,100):
    if all(f(x, y, A) == 1 for x in range(1,100) for y in range(1,100)):
        print(A) #maximum!
#ans = 23

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [49]:
#13.
def f(x, y, A):
    return ((x**2) - (10*x) + 16 > 0) or ((y**2) - (10*y) + 21 > 0) or ((x*y) < (2*A))
for A in range(1,100):
    if all(f(x,y,A) == 1 for x in range(1,100) for y in range(1,100)):
        print(A)
        break

29

In [79]:
#14.
a = set()
def f(x):
    return ((x in {1, 3, 5, 7, 9, 11}) <= (not(x in {3, 6, 9, 12}))) or (x in a)
for x in range(1,100):
    if not f(x):
        a.add(x)
print(a)
# ans = sum(a) = 12.

{9, 3}

In [76]:
#15.
a = set()
def f(x):
    return not(not(x in a) and (x in {3,6,9,12})) or (not(x in {1,2,3,4,5,6}))
for x in range(1, 100):
    if not f(x):
        a.add(x)
print(a)
print(len(a))

{3, 6}
2

In [84]:
#16. 
p = set(range(2, 22, 2))
q = set(range(5, 55, 5))
#print(p, q)
a = set(range(1,100))
def f(x):
    return ((x in a) <= (x in p)) and ((x in q) <= (not(x in a)))
for x in range(1, 100):
    if not f(x):
        a.remove(x)
print(len(a))

8

In [90]:
#17.
p = set(range(2, 22, 2))
q = set(range(3, 33, 3))
r = set(range(12, 72, 12))
a = set()
def f(x):
    return (x not in a) <= (((x in p) and (x in q)) <= (x in r))
for x in range(1,100):
    if f(x) == 0:
        a.add(x)
print(len(a))
print(a)

2
{18, 6}

In [73]:
#18. (неправильно)
mn = 1e9 # счетчик минимума, поставил 10^9.
def f(x, k1, k2):
    return (17 <= x <= 58) <= (((not(29 <= x <= 80)) and (not(k1 <= x <= k2))) <= (not(17 <= x <= 58)))
for k1 in range(1, 81):
    for k2 in range(k1+1, 81):
        if all(f(x, k1, k2) == 1 for x in range(1, 100)):
            #if abs(k1-k2) < mn:
                #print(k1, k2)
            mn = min(mn, k2-k1)
print(mn)
#ОТВЕТ 12!!! (28-17+1)

1 28
2 28
3 28
4 28
5 28
6 28
7 28
8 28
9 28
10 28
11 28
12 28
13 28
14 28
15 28
16 28
17 28
11

In [91]:
#19.
mn = 1e9 # счетчик минимума, поставил 10^9.
def f(x, k1, k2):
    return (17 <= x <= 54) <= (((37 <= x <= 83) and (not(k1 <= x <= k2))) <= (not(17<=x<=54)))
for k1 in range(1, 84):
    for k2 in range(k1+1, 84):
        if all(f(x, k1, k2) == 1 for x in range(1, 100)):
            #if abs(k1-k2) < mn:
                #print(k1, k2)
            mn = min(mn, abs(k1-k2))
print(mn)

17

In [53]:
#20.
def f(x, k1, k2):
    return ((18 <= x <= 52) <= (k1 <= x <= k2)) and ((not(16 <= x <= 41)) or (k1 <= x <= k2))
for k1 in range(1, 53):
    for k2 in range(k1+1, 53):
        if all(f(x, k1, k2) == 1 for x in range(1, 100)):
            print(k1, k2)
# ans = 52-16 = 36

1 52
2 52
3 52
4 52
5 52
6 52
7 52
8 52
9 52
10 52
11 52
12 52
13 52
14 52
15 52
16 52